<link href="css/sb-admin.css" rel="stylesheet">
    <div id="wrapper" ng-init="init()">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="user_company">{{name}}</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown" uib-dropdown>
                    <a class="dropdown-toggle" uib-dropdown-toggle><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown" uib-dropdown-menu>
                        <li class="message-preview">
                            <a>
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="img/text.png" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>{{name}}</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a>
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="img/text.png" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>{{name}}</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>har
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a>
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="img/text.png" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a ui-sref="user_student.student_message">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" uib-dropdown>
                    <a class="dropdown-toggle" uib-dropdown-toggle><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown" uib-dropdown-menu>
                        <li>
                            <a>Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a>Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a>Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a>Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a>Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a>Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a>View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" uib-dropdown>
                    <a class="dropdown-toggle" uib-dropdown-toggle><i class="fa fa-building"></i> {{name}} <b class="caret"></b></a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li>
                            <a><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ng-click="logout()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a ui-sref="user_company.company_ads"><i class="fa fa-fw fa-newspaper-o"></i> Advertisement</a>
                    </li>
                    <li>
                        <a ui-sref="user_company.company_application"><i class="fa fa-fw fa-table"></i> Applications</a>
                    </li>   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
            <ui-view>
            </ui-view>
        </div>
        <!-- /#page-wrapper -->

    </div>

    <script type="text/ng-template" id="company_ads.html">
        <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                           Advertisement
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-bar-chart-o"></i> Ads
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                    <div class="row">
                        <div class = "col-md-6">
                            <a ui-sref="user_company.company_create_ads" class="" id="add-ad"><i class="fa fa-plus-circle" aria-hidden="true"border-radius:25px;></i> Create New Ad</a> 
                        </div>
                        <div class = "col-md-6">
                            <span uib-dropdown on-toggle="toggled(open)" class="pull-left">
                                <a href id="simple-dropdown" uib-dropdown-toggle>Filter By <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                    <li ng-repeat="choice in items">
                                        <a href>{{choice}}</a>
                                    </li>
                                </ul>
                            </span>
                        </div>      
                    </div>
                    <!--<div ng-repeat="ad in ads" style="border-style:solid;border-radius:25px;padding:3em;margin-top:1em;margin-bottom:1em">
                        <p> <a>Title: {{ad.ads_title}}</a></p><button style="margin-right:5px;" class="btn btn-info btn-sm">Edit</button><button class="btn btn-danger btn-sm">Delete</button>
                    </div>-->
                    
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>Advertisement Title</th>
                            <th>Actions</th>
                            <th>Date Publish</th>
                        </tr>
                        <tr ng-repeat="ad in ads">
                            <td><a>{{ad.ads_title}}</a></td>
                            <td><button style="margin-right:5px;" class="btn btn-info btn-sm">Edit</button><button class="btn btn-danger btn-sm">Delete</button></td>
                            <td></td>
                        </tr>
                    </table>
                <div>
    </script>   

    <script type="text/ng-template" id="company_create_ads.html">
        
            <div class="container-fluid">
                <div>
                    <h4>Post Advertisement</h4>
                    <form class="form-horizontal post-ads" method="post"> 
                        <div class="form-group">
                            <label for="email" class="cols-sm-2 control-label">Ad Title</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-newspaper-o" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" id="ad-title" ng-model="formdata.ad_title"  placeholder="Ad Title" required/>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Ad Description</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                                    <textarea class="form-control" id="ad-description" ng-model="formdata.ad_description"  placeholder="Description" required/></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Qualifications</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                    <textarea class="form-control" id="ad-qualification" ng-model="formdata.ad_qualification"  placeholder="Qualifications" required/></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Requirements</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-list-ul" aria-hidden="true"></i></span>
                                    <textarea class="form-control" id="ad-requirement" ng-model="formdata.ad_requirement"  placeholder="Requirements" required/></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Tags</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-tags" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" ng-model="formdata.ad_tags"  placeholder="Tags" required/>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <button class="btn btn-info btn-md" id="add-ad" ng-click="save()"><i class="fa fa-plus-circle" aria-hidden="true"></i> Save</button>
                        </div>
                    </form>
                    <form action="charts.html">
                        <div class="form-group">
                            <button ng-click="cancel()" class="btn btn-danger btn-md" id="cancel-ad"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</button>
                        </div>  
                    </form>
                </div>
            </div>
    </script>

    <script type="text/ng-template" id="company_application.html">
        <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Applications
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Applications
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <!--<div ng-repeat="application in applications" style="border-style:solid;padding:2em;margin-bottom:1em;border-radius:25px;">
                   <p>Student ID: {{application.student_id}}</p>
                   <p>Ads ID: {{application.ads_id}}</p> 
                   <p>Course: Course1</p> 
                   <p>School: School1</p>
                   <button style="position:inherit;margin-left:25em;margin-top:1em;" class="btn btn-success btn-sm" >View Full Details</a> 
                </div>-->
                <table class="table table-bordered table-hover">
                        <tr>
                            <th>Advertisement Title</th>
                            <th>Actions</th>
                            <th>Application Count</th>
                        </tr>
                        <tr ng-repeat="ad in ads">
                            <td><a>{{ad.ads_title}}</a></td>
                            <td><button ng-click="openApModal(1)" style="margin-right:5px;" class="btn btn-info btn-sm">View Applicants</button>
                            <td></td>
                        </tr>
                    </table>
            </div>
    </script>  
    <script type="text/ng-template" id="applicants_modal.html">
        <div class="modal-header">
            <h1>HEADER</h1>
        </div>
        <div class="modal-body">
            <h1>BODY</h1>
        </div>
        <div class="modal-footer">
            <h1>FOOTER</h1>
        </div>
    </script>