<link href="css/sb-admin.css" rel="stylesheet">
<div id="wrapper" ng-init="init()">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#.navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            <a class="navbar-brand">Welcome Guest!</a>
        </div>
        <!-- Top Menu Items -->
        <!--<ul class="nav navbar-right top-nav">
                <li class="dropdown" uib-dropdown>
                    <a class="dropdown-toggle" uib-dropdown-toggle><i class="fa fa-user"></i><b class="caret"></b></a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li>
                            <a ui-sref="user_student.student_profile"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a ng-click="edit()"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ng-click="logout()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>-->
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <!--<li>
                        Filter By:
                    </li>-->
                <li>
                    <a ng-click="openModal(1)"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
                </li>
                <!--<li>
                        <a ui-sref="user_student.student_schedule"><i class="fa fa-calendar fa" aria-hidden="true"></i> Schedules</a>
                    </li>
                    <li>
                        <a ui-sref="user_student.student_timecard"><i class="fa fa-clock-o fa" aria-hidden="true"></i> Timecard</a>
                    </li>-->
            </ul>
        </div>
    </nav>

    <div id="page-wrapper">
        <div class="search-box">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="input-group">
                        <div class="input-group-btn search-panel">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<span id="search_concept">Filter by</span> <span class="caret"></span>
						</button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#course">All</a></li>
                                <li><a href="#company">Company</a></li>
                                <li><a href="#location">Location</a></li>
                            </ul>
                        </div>
                        <input type="hidden" name="search_param" value="all" id="search_param">
                        <input type="text" class="form-control" ng-model="search_" placeholder="Search for Internship" autofocus/>
                        <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="search()" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top:2em;" ng-repeat="ad in aAds">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-transform:uppercase;"><a ng-click="openAdModal(ad.id)">{{ad.ads_title}}</a></h3>
                </div>
                <div class="panel-body">
                    <a ng-click="openAdModal(ad.id)">
                        <h4 style="text-transform:capitalize;">Company: {{ad.company.company_name}}</h5>
                            <h5 style="text-transform:capitalize;">Work Location: {{ad.ads_work_location}}</h4>
                    </a>
                </div>
            </div>
        </div>
        <ul uib-pagination class="pagination" total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"> </ul>
    </div>
</div>
<!-- /#wrapper -->
<script type="text/ng-template" id="student_profile.html">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">
                    My Profile
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron text-center">
                    <div class="row">
                        <div class="col-md-8">
                            <h1>{{student.student_firstname}} {{student.student_lastname}}</h1>
                            <p>E-mail Address: <a href="">{{student.student_email}}</a></p>
                            <p>Contact Number: {{student.student_contact_no}}</p>
                            <p>Address: {{student.student_address}} </p>
                        </div>
                        <div class="col-md-2" style="margin-top:10px; border:solid 1px; height:200px; width:200px;">
                            <p>IMAGE</p>
                            <a href="" style="padding-top:20px;">upload image</a>
                        </div>
                        <div class="col-md-12">
                            <button ng-click="edit_info(student,1)" class="btn btn-info btn-sm">Edit Profile</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3>Personal Background</h3>
                            </div>
                            <div class="panel-body">
                                <h4>Birthday: {{student.student_birthday}}</h4>
                                <h4>Gender: {{student.student_gender}}</h4>
                                <button ng-click="edit_info(student,2)" class="btn btn-info btn-sm">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3>Educational Background</h3>
                            </div>
                            <div class="panel-body">
                                <h4>Coordinator: <a ng-click="viewCoordinator(student.section.coordinator)">My Coordinator</a></h4>
                                <h4>Course: {{student.student_course}}</h4>
                                <h4>Department: {{student.student_department}}</h4>
                                <h4>Intitute: {{student.student_institute}}</h4>
                                <h4>School: {{student.student_school}}</h4>
                                <button ng-click="edit_info(student,3)" class="btn btn-info btn-sm">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3>Resume</h3>
                            </div>
                            <div class="panel-body">
                                <input type="file" nv-file-select uploader="uploader" /><br/>
                                <button ng-click="uploader.queue[0].upload()">upload</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="view_coordinator.html">
    <div class="modal-header">
    </div>
    <div class="main-center">
        <div class="container-fluid">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="jumbotron text-center">
                            <div class="row">
                                <div class="col-md-2" style="margin-top:10px; border:solid 1px; height:200px; width:200px;">
                                    <p>IMAGE</p>
                                </div>

                                <div class="col-md-8">
                                    <h1>{{student.coordinator_firstname}} {{coordinator.coordinator_lastname}}</h1>
                                    <p>E-mail Address: <a href="">{{coordinator.coordinator_email}}</a></p>
                                    <p>Contact Number: {{coordinator.coordinator_contact_no}}</p>
                                    <p>Address: {{coordinator.coordinator_address}} </p>
                                </div>

                            </div>
                        </div>


                        <div class="well">
                            <div class="row">
                                <div class="col-md-8">

                                    <h3>School Background</h3>
                                    <p>Department: {{coordinator.coordinator_department}}</p>
                                    <p>Institute: {{coordinator.coordinator_institute}}</p>
                                    <p>School: {{coordinator.coordinator_school}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</script>
<script type="text/ng-template" id="edit_profile.html">
    <div class="modal-header">
        <h3 style="position:absolute; margin:auto;">Edit</h3><a ng-click="close()"><i class="fa fa-window-close fa-2x pull-right" aria-hidden="true"></i></a>
    </div>
    <div class="modal-body">
        <div class="main-center">
            <div class="container-fluid">
                <form name="editProfile">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>First Name</h5>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-required="true" required ng-model="formdata.student_firstname">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Last Name</h5>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-required="true" required ng-model="formdata.student_lastname">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>E-mail Address</h5>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-required="true" required ng-model="formdata.student_email">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Address</h5>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-required="true" required ng-model="formdata.student_address">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Contact No.</h5>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-required="true" required ng-model="formdata.student_contact_no">
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
        <button style="margin-top:1em;position:relative;left:50%;" ng-click="editProfile.$valid && save()" class="btn btn-xl btn-info">Save</button>
        </form>
    </div>
    <div class="modal-footer">
    </div>
</script>
<script type="text/ng-template" id="edit_personal.html">
    <div class="modal-header">
        <h3 style="position:absolute; margin:auto;">Edit Personal Background</h3><a ng-click="close()"><i class="fa fa-window-close fa-2x pull-right" aria-hidden="true"></i></a>
    </div>
    <div class="modal-body">
        <div class="main-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-4">
                                <h5>Birthday</h5>
                            </div>
                            <div class="col-md-8">
                                <!--<input type="date" class="form-control" ng-model="formdata.student_birthday">-->
                                <div uib-datepicker ng-model="formdata.student_birthday" class="well well-sm" datepicker-options="options" required></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5>Gender</h5>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="formdata.student_gender">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button style="margin-top:1em;position:relative;left:50%;" ng-click="" class="btn btn-xl btn-info">Save</button>
    </div>
    <div class="modal-footer">
    </div>
</script>
<script type="text/ng-template" id="edit_educational.html">
    <div class="modal-header">
        <h3 style="position:absolute; margin:auto;">Edit Educational Background</h3><a ng-click="close()"><i class="fa fa-window-close fa-2x pull-right" aria-hidden="true"></i></a>
    </div>
    <div class="modal-body">
        <div class="main-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-4">
                                <h5>Course</h5>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="formdata.student_course">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5>Department</h5>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="formdata.student_department" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5>Institute</h5>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="formdata.student_institute" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5>School</h5>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="formdata.student_school" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button style="margin-top:1em;position:relative;left:50%;" ng-click="save()" class="btn btn-xl btn-info">Save</button>
    </div>
    <div class="modal-footer">
    </div>
</script>
<script type="text/ng-template" id="studentapplication.html">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    My Applications
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-file-text"></i> Applications
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Advertisement Title</th>
                        <th>Application Date</th>
                        <th>Company Name</th>
                        <th>Status</th>
                    </tr>
                    <tr ng-repeat="ap in applications">
                        <td><a style="text-transform:uppercase" ng-click="viewApplication(ap.id)">{{ap.advertisement.ads_title}}</a></td>
                        <td>{{ap.created_at}}</td>
                        <td>{{ap.company.company_name}}</td>
                        <td>{{ap.status}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</script>
<script src="js/agency.js"></script>
<script type="text/ng-template" id="Login.html">
    <div class="modal-header">
        <a ng-click="close()"><i class="fa fa-window-close fa-2x pull-right" aria-hidden="true"></i></a>
    </div>
    <div class="modal-body">
        <div class="main-center">
            <form class="form-horizontal" method="post">
                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">Username</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" ng-model="username" placeholder="Enter your Username" autofocus required/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" ng-model="password" placeholder="Enter your Password" required/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button" ng-click="login()">Login</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">

    </div>
</script>